@charset "utf-8";
.progress-bar {
background-color:#111;
height:16px;
width:320px;
margin:0 0 20px;
}

.progress-bar span {
display:inline-block;
height:100%;
background-color:#F60;
border-right:1px solid rgba(255,255,255,0.1);
box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
-moz-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
}

.green span {
	background-color:background #f20000;
	background: -moz-linear-gradient(left, #ff0000 0%, #00f00f 100%);
	background: -webkit-linear-gradient(left, #ff0000 0%,#00f00f 100%);
}
.red span {
		background-color:background #f20000;
		background: -moz-linear-gradient(left, #ff0000 0%, #00f00f 100%);
		background: -webkit-linear-gradient(left, #ff0000 0%,#00f00f 100%);
	
}
.blue span {
	background-color:background #f20000;
	background: -moz-linear-gradient(left, #ff0000 0%, #00f00f 100%);
	background: -webkit-linear-gradient(left, #ff0000 0%,#00f00f 100%);
}
.orange span {
	background-color:background #f20000;
	background: -moz-linear-gradient(left, #ff0000 0%, #00f00f 100%);
	background: -webkit-linear-gradient(left, #ff0000 0%,#00f00f 100%);
}